body {
    /* background-color: skyblue; */
    background-color: #c9beaf;
}

.table {
    th , td {
        background-color: #c9beaf;
    }
}

/* --------------------------------------------------------- */
/* Rendre les champs de recherche de DataTables transparents */
/* --------------------------------------------------------- */
.dataTables_filter input , .page-link {
    /* background-color: transparent !important; */
    border: 1px solid #ccc; /* Ajout d'une bordure discrète si nécessaire */
    color: #333; /* Définir la couleur du texte */
    padding: 5px 10px; /* Ajuster l'espacement interne */
}

/* Rendre les champs de pagination également transparents si nécessaire */
.dataTables_length select,
.dataTables_info {
    /* background-color: transparent !important; */
}

/* Optionnel: Styliser le texte si nécessaire */
.dataTables_filter label {
    color: #333;
}

/* ------------------------------------------ */
/* Bouton adapté à la charte graphique de CLO */
/* ------------------------------------------ */
.btn-clo-outline {
  color: #333;
  border-color: #333;
}

.btn-clo-outline:hover {
  background-color: #333;
  color: white;
}

/* ---------------------------------- */
/* Style de l'icône "page précédente" */
/* ---------------------------------- */
.icone-cliquable {
    width: 24px;
    height: 24px;
    object-fit: contain;
    vertical-align: middle;
    cursor: pointer;
    opacity: .5;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.icone-cliquable:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/* ------------------- */
/* Style des tooltips. */
/* ------------------- */
.custom-tooltip-ajout {	
  /* --bs-tooltip-bg: #6f42c1; */
  --bs-tooltip-bg: 		#4682B4;
  --bs-tooltip-color: #c9beaf;
  --bs-tooltip-opacity: 1;
}

.custom-tooltip-edition {
  --bs-tooltip-bg: #f8f9fa;
  --bs-tooltip-color: #c9beaf;
  --bs-tooltip-opacity: 1;
}

.custom-tooltip-delete {
  --bs-tooltip-bg: #dc3545;
  --bs-tooltip-color: #c9beaf;
  --bs-tooltip-opacity: 1;
}
