{% extends 'base.html.twig' %}

{% block title %}Accueil administrateur{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">

            <div class="d-flex flex-column align-items-center col-12 col-md-6 mx-auto border border-3 rounded-5 p-5">

                <div class="fs-5 fw-light d-flex justify-content-md-center mb-3">{{utilisateur.prenom}}</div>

                <a href="{{ path('app_liste_des_employes') }}" class="btn btn-sm">Gérer les employés</a>

                <a href="{{ path('app_liste_des_comptes_clients') }}" class="btn btn-sm">Gérer les clients et leur compte</a>

            </div>

        </div>

    </div>

{% endblock %}
